# Testing

This will be a tesing ground for all the modules I develope for automated work.

In [7]:
# imports
import pandas as pd
import numpy as np
from data_modifier import modify_data

## Modification

### Method 1

In [8]:
# Define the column names
columns = ['id', 'name', 'gender', 'age', 'country']

# Define the number of rows to generate
num_rows = 10

# Generate random values for each column
ids = list(range(num_rows))
names = ['Name ' + str(i) for i in range(num_rows)]
genders = np.random.choice(['M', 'F'], num_rows)
ages = np.random.randint(1, 5, num_rows)
countries = ['Country' + str(i) for i in range(num_rows)]

# Combine the columns into a DataFrame
data = list(zip(ids, names, genders, ages, countries))
df = pd.DataFrame(data, columns=columns)

# View the DataFrame
df.head()

   id    name gender  age   country
0   0  Name 0      M    2  Country0
1   1  Name 1      M    3  Country1
2   2  Name 2      M    1  Country2
3   3  Name 3      F    1  Country3
4   4  Name 4      F    4  Country4

In [9]:
json_file='./json_file.json'
data = df
modify_data(json_file, df)

,id,name,gender,age,country,modified,modification
0,0,Name 0,M,100,Zambia,True,The age 2 has been changed to 100. The country...
1,1,Name 1,M,100,South Africa,True,The age 3 has been changed to 100. The country...
2,2,Name 2,M,1,Kenya,True,The country Country2 has been changed to Kenya.
3,3,Name 3,F,100,Country3,True,The age 1 has been changed to 100.
4,4,Name 4,F,100,Malawi,True,The age 4 has been changed to 100. The country...
5,5,Name 5,M,100,Rwanda,True,The age 2 has been changed to 100. The country...
6,6,Name 6,M,4,Country6,False,
7,7,Name 7,F,4,Country7,False,
8,8,Name 8,F,1,Country8,False,
9,9,Name 9,M,3,Country9,False,

### Method 2

I noticed an error in previous version of the code, where other values of the code were being modified. This was the fix code which I came up with, it involved manually changing the values one at a time.

In [ ]:
# loop through the 'column_1' & 'column_2' to change the value of the 'column_3' & 'column_4' if the condition below is satisfied.
for idx, row in df.iterrows():
    if row['column_1'] == 'field_1' and row['column_2'] == 'field_2':
        df.at[idx, 'column_3'] = 1234567890
        df.at[idx, 'column_4'] = 'value'